echo "trialcheck.*" >> .gitignore
echo "project.r" >> .gitignore  
echo "rrmd.r" >> .gitignore
echo "newervermarg.r" >> .gitignore
echo "older.r" >> .gitignore
echo "README.md" >> .gitignore
echo "Final_Version.r" >> .gitignore
echo "main_analysis.html" >> .gitignore
echo "36151-0001-Data.rda" >> .gitignore
echo "36151-0002-Data.rda" >> .gitignore
echo "output/models/*.rds" >> .gitignore